			body {
				color: #000000;
				background: #FA6900;
				min-width: 300px;
				padding-top: 20px;
			  	padding-bottom: 20px;
<%--			  	padding-right: 20px;--%>
			  	font-family: 'Optima';
			}
			
			.logo-center{ width: 75px; margin-top: 100px; }
			
			.form-signin {
			  	max-width: 300px;
			  	margin: 0 auto;
			}
			.alert {
			  	max-width: 300px;
			  	margin: 0 auto;
			  	margin-bottom: 10px;
			}
			.form-signin .form-signin-heading,
			.form-signin .checkbox {
			 	 margin-bottom: 10px;
			}
			.form-signin .checkbox {
			  	font-weight: normal;
			}
			.form-signin .form-control {
			 	font-size: 16px;
			  	outline: none;
			  	border:none !important;
			  	box-shadow:none !important;
			}
			.form-signin input[type="text"] {
			  	margin-bottom: 5px;
			  	border-top-left-radius: 2px;
			  	border-bottom-left-radius: 2px;
			  	border-top-right-radius: 2px;
			  	border-bottom-right-radius: 2px;
			}
			.form-signin input[type="password"] {
			  	margin-bottom: 5px;
			  	border-top-left-radius: 2px;
			  	border-bottom-left-radius: 2px;
			  	border-top-right-radius: 2px;
			  	border-bottom-right-radius: 2px;
			}
			.form-signin button[type="submit"] {
			  	border-top-left-radius: 2px;
			  	border-bottom-left-radius: 2px;
			  	border-top-right-radius: 2px;
			  	border-bottom-right-radius: 2px;
			}
			.btn-primary {
				color: #FFF;
				background-color: #83AF9B;
				border-color: #DD4814;
			}
			.form-signin .form-control:focus {
			  z-index: 1;
			}
