html { 
	background: url(http://dl.dropboxusercontent.com/s/u428ik3x2h1cxuy/back.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body{
	background-color: transparent;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
#footersticky {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 0 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footersticky > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.get-the-app a.app-store {
	background: url("http://dl.dropboxusercontent.com/s/ryftwm5q01egr52/appstore-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.get-the-app a.google-play {
	background: url("http://dl.dropboxusercontent.com/s/ryftwm5q01egr52/appstore-icon.png") no-repeat scroll -155px 0 rgba(0, 0, 0, 0);
}
.get-the-app a {
	display: block;
	height: 44px;
	overflow: hidden;
	text-indent: -999px;
	width: 145px;
}
.navbar-default {
	background-color: #FE4365;
	border-color: #E83D5C;
}

a {
	color: #FE4365;
}

a:hover,a:focus {
	color: #E83D5C;
}
.btn-primary {
	color: #FFF;
	background-color: #FE4365;
	border-color: #FE4365;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #FFF;
	background-color: #CC3651;
	border-color: #E83D5C;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #FFF;
	background-color: #E83D5C;
}

.modal-body {
	position: relative;
	padding: 10px;
}

.modal-content {
	position: relative;
	background-color: #FFF;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
	outline: none;
}

.modal-dialog {
	width: 400px;
	margin: 60px auto;
}
.form-signin {
  	max-width: 300px;
  	margin: 0 auto;
}
.alert {
<%--			  	max-width: 300px;--%>
  	margin: 0 auto;
  	margin-bottom: 10px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
 	 margin-bottom: 10px;
}
.form-signin .checkbox {
  	font-weight: normal;
}
.form-signin .form-control {
 	font-size: 16px;
  	outline: none;
  	border: 1;
  	box-shadow:none !important;
  	border-color: #DD4814;
}
.form-signin input[type="text"] {
  	margin-bottom: 5px;
  	border-top-left-radius: 2px;
  	border-bottom-left-radius: 2px;
  	border-top-right-radius: 2px;
  	border-bottom-right-radius: 2px;
}
.form-signin input[type="password"] {
  	margin-bottom: 5px;
  	border-top-left-radius: 2px;
  	border-bottom-left-radius: 2px;
  	border-top-right-radius: 2px;
  	border-bottom-right-radius: 2px;
}
.form-signin button[type="submit"] {
  	border-top-left-radius: 2px;
  	border-bottom-left-radius: 2px;
  	border-top-right-radius: 2px;
  	border-bottom-right-radius: 2px;
}
.form-signin input[type="submit"] {
  	border-top-left-radius: 2px;
  	border-bottom-left-radius: 2px;
  	border-top-right-radius: 2px;
  	border-bottom-right-radius: 2px;
}
.form-signin select[type="day"] {
	margin-bottom: 5px;
<%--				width: 60px;--%>
}
.form-signin select[type="month"] {
	margin-bottom: 5px;
<%--				width: 60px;--%>
}
.form-signin select[type="year"] {
	margin-bottom: 5px;
<%--				width: 80px;--%>
}
.form-signin select[type="gender"] {
	margin-bottom: 5px;
<%--				width: 100px;--%>
}
.form-signin select[type="living_city"] {
	margin-bottom: 5px;
<%--				width: 150px;--%>
}
.form-signin select[type="relationship"] {
	margin-bottom: 5px;
<%--				width: 150px;--%>
}
.btn-file {
	border-top-left-radius: 2px;
  	border-bottom-left-radius: 2px;
  	border-top-right-radius: 2px;
  	border-bottom-right-radius: 2px;
}
.fileinput .thumbnail {
	overflow: hidden;
	display: block;
	margin-bottom: 5px;
	vertical-align: middle;
	text-align: center;
}
.thumbnail {
	display: block;
	padding: 0px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #FE4365;
	border: 1px solid #FE4365;
	border-radius: 2px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.btn-primary {
	color: #FFF;
	border-color: #DD4814;
}
.form-signin .form-control:focus {
  z-index: 1;
}
