			body {
				color: #000000;
				background: #8E5B3E;
				min-width: 300px;
				padding-top: 20px;
			  	padding-bottom: 20px;
<%--			  	padding-right: 20px;--%>
			  	font-family: 'Optima';
			}
			.logo-center{ width: 75px; margin-top: 10px; }
			.form-signin {
			  	max-width: 300px;
			  	margin: 0 auto;
			}
			.alert {
			  	max-width: 300px;
			  	margin: 0 auto;
			  	margin-bottom: 10px;
			}
			.form-signin .form-signin-heading,
			.form-signin .checkbox {
			 	 margin-bottom: 10px;
			}
			.form-signin .checkbox {
			  	font-weight: normal;
			}
			.form-signin .form-control {
			 	font-size: 16px;
			  	outline: none;
			  	border:none !important;
			  	box-shadow:none !important;
			}
			.form-signin input[type="text"] {
			  	margin-bottom: 5px;
			  	border-top-left-radius: 2px;
			  	border-bottom-left-radius: 2px;
			  	border-top-right-radius: 2px;
			  	border-bottom-right-radius: 2px;
			}
			.form-signin input[type="password"] {
			  	margin-bottom: 5px;
			  	border-top-left-radius: 2px;
			  	border-bottom-left-radius: 2px;
			  	border-top-right-radius: 2px;
			  	border-bottom-right-radius: 2px;
			}
			.form-signin button[type="submit"] {
			  	border-top-left-radius: 2px;
			  	border-bottom-left-radius: 2px;
			  	border-top-right-radius: 2px;
			  	border-bottom-right-radius: 2px;
			}
			
			
			.form-signin select[type="day"] {
				margin-bottom: 5px;
<%--				width: 60px;--%>
			}
			.form-signin select[type="month"] {
				margin-bottom: 5px;
<%--				width: 60px;--%>
			}
			.form-signin select[type="year"] {
				margin-bottom: 5px;
<%--				width: 80px;--%>
			}
			.form-signin select[type="gender"] {
				margin-bottom: 5px;
<%--				width: 100px;--%>
			}
			.form-signin select[type="living_city"] {
				margin-bottom: 5px;
<%--				width: 150px;--%>
			}
			.form-signin select[type="relationship"] {
				margin-bottom: 5px;
<%--				width: 150px;--%>
			}
			.btn-file {
				border-top-left-radius: 2px;
			  	border-bottom-left-radius: 2px;
			  	border-top-right-radius: 2px;
			  	border-bottom-right-radius: 2px;
			}
			.fileinput .thumbnail {
				overflow: hidden;
				display: block;
				margin-bottom: 0px;
				vertical-align: middle;
				text-align: center;
			}
			.thumbnail {
				display: block;
				padding: 0px;
				margin-bottom: 20px;
				line-height: 1.42857143;
				background-color: #8E5B3E;
				border: 1px solid #8E5B3E;
				border-radius: 2px;
				-webkit-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
			}
			.btn-primary {
				color: #FFF;
				background-color: #83AF9B;
				border-color: #DD4814;
			}
			.form-signin .form-control:focus {
			  z-index: 1;
			}
